$backgroundColor: #111;

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.images-container, .stats-container {
    display: flex;
}

.stats-container {
    justify-content: center;
    padding: 32px;
}

.dark-theme {
    width: 100%;
}

.image {
    background-color: $backgroundColor;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}