$backgroundColor: #111;

.container, .loading {
    display: flex;
    height: 100%;
    width: 100%;
}

.loading {
    align-items: center;
    justify-content: center;
}

.images-container, .stats-container {
    display: flex;
}

.stats-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 32px;

    .stat {
        margin-bottom: 32px;
    }

    .section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 16px;
        
        .title {
            font-weight: bold;
        }
        
        img {
            width: 100px;
        }
    }
}

.dark-theme {
    width: 100%;
}

.image, .images-container {
    width: 100%;
    height: 100%;
}

.image {
    background-color: $backgroundColor;
    object-fit: contain;
}