/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import '~@angular/material/prebuilt-themes/purple-green.css';

/* Base styles */
.container {
    width: 100%;
}

/* Larger screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Even larger screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}